:host {
  background-color: var(--primary-bg-color);
}

#progress {
  height: 10px;
  width: 100%;
  background-color: var(--secondary-bg-color);
  cursor: pointer;
}

#progress-bar {
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1), transparent), var(--primary-color);
}

#player-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
}

#now-playing {
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  flex: 1 1 auto;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  overflow: hidden;
  cursor: pointer;
}

#now-playing-author {
  font-size: 12px;
  color: var(--secondary-text-color);
  padding: 0;
  margin: 0;
}

#now-playing-episode {
  font-size: 16px;
  color: var(--primary-text-color);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
	margin: 0;
	text-decoration: none;
}

#now-playing-episode:hover, #now-playing-episode:focus {
	text-decoration: underline var(--primary-color);
	outline: none;
}

#now-playing-time {
  font-size: 12px;
  color: var(--primary-text-color);
  padding: 0;
  margin: 0;
}

.player-btn, #rewind-btn, #play-btn, #forward-btn {
	user-select: none;
	outline: 0;
  cursor: pointer;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  flex: 0 1 auto;
}

#rewind-btn, #forward-btn {
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 25px;
  color: var(--primary-color);
}

#play-btn {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
  color: var(--primary-color);
}

.player-btn {
  width: 15px;
  height: 15px;
  line-height: 15px;
  font-size: 15px;
  color: var(--secondary-text-color);
}

#volume-slider {
  flex: 0 1 auto;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  width: 150px;
}