:host {
  background-color: var(--primary-bg-color);
}

#progress {
  height: 10px;
  width: 100%;
  background-color: #353535;
}

#progress-bar {
  height: 100%;
  width: 35%;
  background-color: var(--primary-color);
}

#player-info {
  height: 90px;
  width: 100%;
}

#now-playing {
    align-items: flex-start;
    justify-content: left;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
}

#now-playing-author {
    font-size: 12px;
    color: var(--secondary-text-color);
}

#now-playing-episode {
    font-size: 16px;
    color: var(--primary-text-color);
}

#now-playing-time {
    font-size: 12px;
    color: var(--primary-text-color);
}

.player-btn,
#rewind-btn,
#play-btn,
#forward-btn {
    user-select: none;
    outline: 0;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

#rewind-btn,
#forward-btn {
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 25px;
  color: var(--primary-color);
}

#play-btn {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
  color: var(--primary-color);
}

.player-btn {
  width: 15px;
  height: 15px;
  line-height: 15px;
  font-size: 15px;
  color: #cfcfcf;
}

#volume-slider {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  width: 125px;
}