<div id="progress" (click)="setTime($event)">
	<div id="progress-bar" [style.width]="percentPlayed + '%'"></div>
</div>
<div id="player-info">
	<fa-icon id="rewind-btn" [icon]="faBackward" (click)="changeTime(-10)" aria-label="Rewind" data-pop data-pop-arrow>
	</fa-icon>
	<fa-icon id="play-btn" [icon]="isPlaying ? faPauseCircle : faPlayCircle" (click)="togglePlay()"
		aria-label="Play / Pause" data-pop data-pop-arrow></fa-icon>
	<fa-icon id="forward-btn" [icon]="faForward" (click)="changeTime(10)" aria-label="Forward" data-pop data-pop-arrow>
	</fa-icon>
	<div id="now-playing">
		<p id="now-playing-author" class="truncate">{{ podcast }}</p>
		<a id="now-playing-episode" [routerLink]="['/podcast', rss]" class="truncate">{{ episode }}</a>
		<p id="now-playing-time" class="time truncate">{{ time | secondsToHhMmSs }} / {{ duration | secondsToHhMmSs }}</p>
	</div>
	<div class="loader-small" *ngIf="isLoading"></div>
	<fa-icon *ngIf="favs.indexOf(podcast) == -1 && rss" [icon]="faHeart" class="player-btn" (click)="addPodcast()"
		aria-label="Add to favourites" data-pop data-pop-arrow></fa-icon>
	<fa-icon *ngIf="description" [icon]="faInfoCircle" class="player-btn" (click)="showDescription()"
		aria-label="Show description" data-pop data-pop-arrow></fa-icon>
	<input type="range" id="volume-slider" min="0" max="1" step="0.001" [(ngModel)]="volume" (input)="updateVolume()"
		tabindex="-1">
</div>