<div id="progress" (click)="setTime($event)">
	<div id="progress-bar" [style.width]="percentPlayed + '%'"></div>
</div>
<div id="player-info">
	<i id="rewind-btn" class="fas fa-backward" (click)="changeTime(-10)"></i>
	<i id="play-btn" [ngClass]="(isPlaying) ? 'far fa-pause-circle' : 'far fa-play-circle'" (click)="togglePlay()"></i>
	<i id="forward-btn" class="fas fa-forward" (click)="changeTime(10)"></i>
	<div id="now-playing">
		<p id="now-playing-author" class="truncate">{{ podcast }}</p>
		<a id="now-playing-episode" [routerLink]="['/podcast', rss]" class="truncate">{{ episode }}</a>
		<p id="now-playing-time" class="time truncate">{{ time | secondsToHhMmSs }} / {{ duration | secondsToHhMmSs }}</p>
	</div>
	<div class="loader-small" *ngIf="isLoading"></div>
	<i *ngIf="favs.indexOf(podcast) == -1" class="far fa-heart player-btn" (click)="addPodcast()"></i>
	<i class="fas fa-info-circle player-btn" (click)="showDescription()"></i>
	<input type="range" id="volume-slider" min="0" max="1" step="0.001" [(ngModel)]="volume" (input)="updateVolume()"
		tabindex="-1">
</div>