:root {
  --main-color: #000;
}

* {
  outline: none !important;
  user-select: none;
}

body {
  font-family: "Rubik", sans-serif;
}

#title-bar {
  user-select: none;
  -webkit-app-region: drag;
  height: 35px;
  background: #252525;
  padding: none;
  margin: 0px;
  border-bottom: 1px solid var(--main-color);
  box-shadow: 0px 2px 5px #111;
  z-index: 10;
}

#title-bar-btns {
  -webkit-app-region: no-drag;
  position: absolute;
  right: 0px;
  height: 35px;
}

#min-btn,
#max-btn,
#close-btn {
  cursor: pointer;
  width: auto;
  height: 35px;
  line-height: 35px;
  color: #aaa;
  padding-left: 5px;
  padding-right: 5px;
}

#min-btn:hover,
#max-btn:hover {
  background-color: #353535;
}

#close-btn:hover {
  background-color: rgb(105, 28, 28);
}

.logo-text {
  font-family: "Rock Salt", cursive;
  cursor: default;
}

md-progress-circular path {
  stroke: var(--main-color) !important;
}

.box1,
.box2,
.box3 {
  display: flex;
  box-sizing: border-box;
  min-width: 100%;
}

.box1 {
  height: auto;
}

.box2 {
  background: linear-gradient(to right, #222, #111);
  overflow-y: scroll;
  overflow-x: none;
  width: 100%;
  height: 100%;
  max-height: 100%;
  flex: 1 1 100%;
}

.box3 {
  z-index: 10;
  background: #151515;
  height: 75px;
  box-shadow: 0px -2px 5px #111;
}

#left-sidenav {
  background: #111;
}

#right-sidenav {
  min-width: 450px;
  max-width: 450px;
  width: 450px;
  background-color: #222;
}

.menu-item {
  cursor: pointer;
}

.menu-icon {
  color: var(--main-color) !important;
}

.timer-text {
  color: #ccc;
  font-size: 14px;
  float: right;
  font-family: "Open Sans", sans-serif;
}

/* switch */
md-switch.md-checked .md-bar {
  background-color: var(--main-color) !important;
}

md-switch.md-checked .md-thumb {
  background-color: var(--main-color) !important;
}

md-switch.md-checked .md-ink-ripple { 
  color: var(--main-color) !important; 
}

/* input */
md-select {
  color: white !important;
}

md-select:not([disabled]):focus .md-select-value {
  border-bottom-color: var(--main-color) !important;
}

md-input-container md-icon {
  color: white !important;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-bottom-color: var(--main-color) !important;
}

md-input-container label {
  color: var(--main-color) !important;
}

md-option:focus {
  color: var(--main-color) !important;
}

/* grid */
.grid-item {
  padding: 20px;
  opacity: 1;
}

.podcast-frame {
  background-color: #111;
  border-bottom: 1px solid var(--main-color);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
}

.podcast-title {
  color: white;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 0px 0px 10px #000;
}

/* Player */
#play-btn {
  cursor: pointer;
  color: var(--main-color) !important;
  font-size: 48px;
  width: 48px;
  height: 48px;
}

#progress {
  background-color: #333;
  width: 100%;
  height: 8px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 8px;
  box-shadow: inset 0px 2px 2px #111;
  overflow: hidden;
}

#bar {
  height: 100%;
  box-shadow: inset 0px 1px 1px #111;
  width: 0px;
  background: var(--main-color) !important;
}

#volume-slider {
  min-width: 10px;
}

#volume-slider .md-thumb:after,
#volume-slider .md-track-fill {
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
}
#volume-slider .md-focus-thumb,
#volume-slider .md-focus-ring {
  background-color: var(--main-color);
}

.md-toast-content {
  width: 250px;
}

.md-toast-success .md-toast-content {
  background-color: green !important;
}

.md-toast-error .md-toast-content {
  background-color: red !important;
}

#toggle-btn {
  cursor: pointer;
}

.icon-btn {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.icon-btn:hover {
  transform: scale(1.2);
}

.episode-item {
  border-bottom: 1px solid var(--main-color);
}
