:root {
  --main-color: #000;
}

:focus {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--main-color);
}

body.using-mouse :focus {
  outline: none;
}

body {
  font-family: "Rubik", sans-serif;
}

#title-bar {
  user-select: none;
  -webkit-app-region: drag;
  height: 35px;
  background: #080808;
  padding: none;
  margin: 0px;
  border-bottom: 1px solid var(--main-color);
  box-shadow: 0px 2px 5px #111;
  z-index: 10;
}

#title-bar-btns {
  -webkit-app-region: no-drag;
  position: absolute;
  right: 0px;
  height: 35px;
}

#min-btn,
#max-btn,
#close-btn {
  cursor: pointer;
  width: 20px;
  height: 35px;
  line-height: 35px;
  color: #aaa;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

#min-btn:hover,
#max-btn:hover {
  background-color: #444;
}

#close-btn:hover {
  background-color: rgb(115, 30, 30);
}

md-progress-circular path {
  stroke: var(--main-color) !important;
}

.box2,
.player {
  display: flex;
  box-sizing: border-box;
  min-width: 100%;
}

.box2 {
  background: #252525;
  overflow-y: scroll;
  overflow-x: none;
  width: 100%;
  height: 100%;
  max-height: 100%;
  flex: 1 1 100%;
}

.player {
  z-index: 10;
  background: #080808;
  height: 90px;
}

#left-sidenav {
  background: #111;
  z-index: 5;
}

#right-sidenav {
  z-index: 9;
  max-width: 500px;
  width: 500px;
  top: 36px;
  bottom: 75px;
  background-color: #151515;
  overflow-y: scroll;
  overflow-x: none;
}

/* backdrop when opening sidenav */
md-backdrop.md-sidenav-backdrop {
  z-index: 7 !important;
}

md-backdrop.md-dialog-backdrop {
  z-index: 20 !important;
}

.menu-item {
  cursor: pointer;
}

.menu-icon {
  color: var(--main-color) !important;
  font-size: 25px !important;
  width: 25px !important;
  height: 25px !important;
}

.menu-text {
  font-size: 15px;
}

.menu-text.active {
	color: var(--main-color);
}

.fa-icon {
  width: 18px !important;
  height: 18px !important;
  font-size: 18px !important;
}

.timer-text {
  color: #ccc;
  font-size: 14px;
  float: right;
  font-family: "Open Sans", sans-serif;
}

/* kbd tag styling */
kbd {
  padding:3px;
  border:1px solid #000;
  font-size:12px;
  background-color:#111;
  color:#aaa;
  box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #222 inset;
  border-radius:3px;
  display:inline-block;
  margin:0px;
  text-shadow:0 1px 0 #000;
  line-height:1.4;
  white-space:nowrap;
}

/* switch */
md-switch.md-checked .md-bar {
  background-color: var(--main-color) !important;
}

md-switch.md-checked .md-thumb {
  background-color: var(--main-color) !important;
}

md-switch.md-checked .md-ink-ripple {
  color: var(--main-color) !important;
}

/* Dialog */
.md-button.md-default-theme.md-primary,
.md-button.md-primary {
  background-color: var(--main-color) !important;
  color: white !important;
}

/* input */
md-select {
  color: white !important;
}

md-select:not([disabled]):focus .md-select-value {
  border-bottom-color: var(--main-color) !important;
}

md-input-container md-icon {
  color: white !important;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-bottom-color: var(--main-color) !important;
}

md-input-container label {
  color: var(--main-color) !important;
}

md-option:focus {
  color: var(--main-color) !important;
}

md-select-menu.md-default-theme md-content md-option[selected], md-select-menu md-content md-option[selected] {
  color: var(--main-color) !important;
}

/* toolbar */
md-toolbar {
  background-color: #353535 !important;
}

/* dialog */
md-dialog-content {
  padding: 15px !important;
  white-space: pre-line !important;
}

/* grid */
.grid-item {
  padding: 20px;
  opacity: 1;
}

.podcast-frame {
  background-color: #111;
  border-bottom: 1px solid var(--main-color);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
  transition: all 0.1s linear;
}

.podcast-frame:hover {
  transform: scale(1.02);
}

.podcast-img {
  user-select: none;
  cursor:pointer;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  opacity: 0; 
  transition: opacity 0.5s ease-in-out;
}

.podcast-img-small {
  user-select: none;
  cursor:pointer;
  width:100px;
  height: 100px;
  padding: 15px;
  opacity: 0; 
  transition: opacity 0.5s ease-in-out;
}

.podcast-title {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.podcast-list-item {
  background-color:#151515;
  margin-left:5px;
  margin-top:5px;
  margin-bottom:10px;
  padding:15px;
  width:100%;
  height:auto;
}

/* Genre chip */
.genre-chip {
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	justify-content: center;
	border-radius: 999px;
	background-color: #333;
	color:#ececec;
	font-size:12px;
}

/* Player */
.media-btn {
  cursor: pointer;
  color: var(--main-color) !important;
  font-size: 20px;
  width: 20px;
  height: 20px;
  user-select: none;
  outline: 0;
}

.playing-title {
	color:white;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

.playing-title:hover {
	text-decoration: var(--main-color) underline;
}

#play-btn {
  cursor: pointer;
  color: var(--main-color) !important;
  font-size: 45px;
  width: 45px;
  height: 45px;
  user-select: none;
  outline: 0;
}

#progress {
  background-color: #333;
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: inset 0px 2px 2px #111;
  overflow: hidden;
}

#bar {
  height: 100%;
  box-shadow: inset 0px 1px 1px #111;
  width: 0px;
  background: var(--main-color) !important;
}

#volume-slider {
  min-width: 10px;
}

#volume-slider .md-thumb:after,
#volume-slider .md-track-fill {
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
}
#volume-slider .md-focus-thumb,
#volume-slider .md-focus-ring {
  background-color: var(--main-color);
}

md-toast {
  margin-top: 35px;
  margin-right: 10px;
  min-width: 250px;
}

.md-toast-success .md-toast-content {
  background-color: #444 !important;
}

.md-toast-error .md-toast-content {
  background-color: #ff0a0a !important;
}

#toggle-btn {
  cursor: pointer;
  color: #fff !important;
}

.desc-btn {
  cursor: pointer;
  color: #fff !important;
}

.fav-btn {
  cursor: pointer;
  color: var(--main-color) !important;
}

.remove-btn {
  cursor: pointer;
  color: rgb(115, 30, 30);
}

#volume-btn {
  color: #fff !important;
}

.icon-btn {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.icon-btn:hover {
  transform: scale(1.2);
}

.episode-item {
  border-bottom: 1px solid var(--main-color);
}

.played-icon {
  color: var(--main-color) !important;
}

/* media queries for left navigation menu */
@media screen and (max-width: 960px) {
  .menu-text {
    display: none;
  }

  .menu-icon {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .menu-item-content {
    margin-left: auto;
    margin-right: auto;
  }
}
