.md-tooltip {
	max-width: 350px !important;
	background-color: #353535 !important;
	color: white !important;
	border-radius: 5px;
	overflow: visible !important;
	height: auto !important;
	white-space: pre-line !important;
	font-size: 12px !important;
	padding: 10px !important;
}