::-webkit-scrollbar {
  width: 14px;
	height: 14px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(45deg, transparent, #ffffff88), var(--orange);
	border-radius: 7px;
  border: 4px solid #252525;
}

::-webkit-scrollbar-track {
	background: #353535;
	box-shadow: inset 0 0 10px 0 black;
}

::-webkit-scrollbar-corner {
  background: transparent;
}