:host {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#fav-btn {
	cursor: pointer;
}

#filter-actions {
	display: flex;
	flex-direction: row;
	flex: 0 0 auto;
	background-color: var(--secondary-bg-color);
	align-items: center;
}

#filter {
	width: 100%;
	height: 60px;
	font-size: 30px;
	color: var(--secondary-text-color);
	background-color: var(--secondary-bg-color);
	border: 0;
	padding: 0.75rem;
}

#filter::placeholder {
	color: var(--secondary-text-color);
	opacity: 0.5;
}

.sort-btn {
	margin: 1rem;
	color: var(--secondary-text-color);
	transition: 0.4s;
	cursor: pointer;
}

.sort-btn:hover {
	color: var(--primary-text-color);
}

#banner-info-author {
	color: var(--secondary-text-color);
	margin: 0;
}

#banner-info-title {
	padding: 0;
	margin: 0.25rem 0 0.25rem 0;
}

#banner-info-details {
	font-size: 12px;
	color: var(--primary-text-color);
	margin: 0.75rem 0 0.75rem 0;
	padding: 0.75rem;
	border-left: 3px solid var(--primary-color);
}

#podcast-content {
    flex: 1 1 auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

#podcast-details {
    flex: 0 0 40%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
}

#podcast-items {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: var(--primary-bg-color);
}

.podcast-item {
	flex: 0 0 auto;
	display: flex;
	flex-direction: row;
	cursor: pointer;
	padding: 0.5rem;
	border-bottom: 1px solid var(--primary-color);
	transition: all 0.1s linear;
}

.podcast-item:hover {
	background: var(--secondary-bg-color);
}

.podcast-item-info:focus .podcast-item-title {
	text-decoration: underline var(--primary-color);
	outline: none;
}

.podcast-item-actions {
	display: flex;
	flex: 0 0 auto;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	text-align: right;
	color: var(--primary-text-color);
	padding-left: 1rem;
	padding-right: 1rem;
}

.podcast-item-info {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
}

.podcast-item-title {
	flex: 1;
	color: var(--primary-text-color);
}

.podcast-item-details {
	display: flex;
	flex: 1;
	flex-direction: row;
}

.podcast-item-duration, .podcast-item-date {
	color: var(--secondary-text-color);
	font-size: 12px;
}

.podcast-item-duration {
	flex: 1;
	text-align: left;
}

.podcast-item-date {
	flex: 1;
	text-align: right;
}

#latest-podcast {
    cursor: pointer;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-bg-color);
    transition: all 0.1s linear;
    margin: 0.75rem 0 0.75rem 0;
    overflow: hidden;
}

#latest-podcast:hover {
    background: var(--primary-bg-color);
}

#latest-podcast-image {
	flex: 0 0 100px;
}

#latest-podcast-info {
    display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: 1;
    padding: 0.75rem;
    overflow: hidden;
}

#latest-podcast-title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#latest-podcast-details {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 12px;
}

#latest-podcast-actions {
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	color: var(--primary-text-color);
}

#latest-podcast-actions > fa-icon {
	padding: 0.25rem;
}

.played-episode {
	color: var(--primary-color);
}

#podcast-links {
    display: flex;
		flex-direction: row;
		justify-content: space-around;
    margin: 0.75rem 0 0.75rem 0;
}

.podcast-link-btn {
	color: var(--primary-text-color);
	width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 25px;
	cursor: pointer;
	transition: 0.3s;
}

.podcast-link-btn:hover {
	color: var(--primary-color);
}

@media (max-width: 650px) {
	#podcast-details {
		display: none;
	}
}

