:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#banner {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    background-color: var(--primary-bg-color);
}

#banner-image {
	flex: 0 0 150px;
}

#banner-info {
	flex: 1 0 auto;
  margin-left: 0.75rem;
}

#banner-actions {
	flex: 0 0 100px;
	justify-content: center;
	text-align: center;
}

#fav-btn {
	cursor: pointer;
}

#banner-info-author {
    color: var(--secondary-text-color);
    margin: 0;
}

#banner-info-title {
    padding: 0;
    margin: 0.25rem 0 0.25rem 0;
}

#banner-info-details {
    font-size: 12px;
    color: var(--primary-text-color);
    margin: 0.75rem 0 0.75rem 0;
    padding: 0.75rem;
    border-left: 3px solid var(--primary-color);
}

#filter-actions {
	display: flex;
	flex-direction: row;
	flex: 0 0 auto;
	background-color: var(--secondary-bg-color);
	align-items: center;
}

#filter {
	width: 100%;
	height: 60px;
	font-size: 30px;
	color: var(--secondary-text-color);
	background-color: var(--secondary-bg-color);
	border: 0;
	padding: 0.75rem;
}

.sort-btn {
	margin: 1rem;
	color: var(--secondary-text-color);
	transition: 0.4s;
	cursor: pointer;
}

.sort-btn:hover {
	color: var(--primary-text-color);
}

#podcast-content {
    flex: 1 1 auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

#podcast-details {
    flex: 0 0 40%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
}

#podcast-items {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: var(--primary-bg-color);
}

.podcast-item {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 0.5rem;
    border-bottom: 1px solid var(--primary-color);
    transition: all 0.1s linear;
}

.podcast-item:hover, .podcast-item:focus {
		background: var(--secondary-bg-color);
		outline: none;
}

.podcast-title {
		flex: 1;
		color: var(--primary-text-color);
}

.podcast-info {
    display: flex;
    width: 100%;
    height: auto;
    flex: 1;
    justify-content: space-evenly;
}

.podcast-duration, .podcast-date, .podcast-btns {
    color: var(--secondary-text-color);
    font-size: 12px;
    text-align: center;
}

.podcast-duration {
    flex: 1 1 auto;
    text-align: left;
}

.podcast-date {
    flex: 1 1 auto;
    text-align: center;
}

.podcast-btns {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: right;
}

#latest-podcast {
    cursor: pointer;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-bg-color);
    transition: all 0.1s linear;
    margin: 0.75rem 0 0.75rem 0;
    overflow: hidden;
}

#latest-podcast:hover {
    background: var(--primary-bg-color);
}

#latest-podcast-image {
	flex: 0 0 100px;
}

#latest-podcast-info {
    display: flex;
		flex-direction: column;
		justify-content: space-around;
		flex: 1;
    padding: 0.75rem;
    overflow: hidden;
}

#podcast-links {
    display: flex;
		flex-direction: row;
		justify-content: space-around;
    margin: 0.75rem 0 0.75rem 0;
}

.podcast-link-btn {
	color: var(--primary-text-color);
	width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 25px;
	cursor: pointer;
	transition: 0.4s;
}

.podcast-link-btn:hover {
	color: var(--primary-color);
}

@media (max-width: 960px) {
	#podcast-content {
    flex-direction: column;
	}
	#podcast-details {
    flex: 0 0 auto;
    overflow-y: auto;
	}
}

