<div id="banner">
	<div id="banner-image">
		<div class="image-container">
			<img class="image-cover" [src]="image || 'assets/images/album_cover.png'" onload="this.style.opacity = 1">
		</div>
	</div>
	<div id="banner-info">
		<h5 id="banner-info-author" class="truncate">{{ author }}</h5>
		<h1 id="banner-info-title" class="primary-title truncate">{{ title }}</h1>
	</div>
	<div id="banner-actions">
		<i *ngIf="favs.indexOf(title) == -1 && !isLoading" class="far fa-heart primary-text" id="fav-btn"
			(click)="addFavourite()" data-tooltip="Add to favourites" tooltip-position="left"></i>
	</div>
</div>
<div id="filter-actions">
	<input id="filter" type="text" placeholder="Filter" [(ngModel)]="query" (change)="filter()">
	<i (click)="toggleOrder()" class="sort-btn"
		[ngClass]="(sortBy == 'asc') ? 'fas fa-sort-amount-down' : 'fas fa-sort-amount-up'" data-tooltip="Toggle sorting"
		tooltip-position="left"></i>
</div>
<div class="feedback-section" *ngIf="isLoading">
	<div class="loader"></div>
</div>
<div id="podcast-content" *ngIf="!isLoading">
	<div id="podcast-details">
		<h5 class="secondary-title">Latest episode</h5>
		<div id="latest-podcast" (click)="play(latestEpisode)">
			<div id="latest-podcast-image">
				<div class="image-container">
					<img class="image-cover" [src]="latestEpisode.image || image  || 'assets/images/album_cover.png'"
						onload="this.style.opacity = 1">
				</div>
			</div>
			<div id="latest-podcast-info">
				<div id="latest-podcast-title">
					<h3 class="primary-title truncate">{{ latestEpisode.title }}</h3>
					<div id="latest-podcast-actions">
						<i class="fas fa-info-circle"
							(click)="showDescription($event, latestEpisode.title, latestEpisode.description)"></i>
						<i
							[ngClass]="playedEpisodes.indexOf(latestEpisode.guid) == -1 ? 'far fa-circle':'fas fa-check-circle played-episode'"></i>
						<i class="fas fa-download"
							[ngClass]="offlineEpisodes.indexOf(latestEpisode.guid) == -1 ? '':'played-episode'"
							(click)="download($event, latestEpisode)"></i>
					</div>
				</div>
				<div id="latest-podcast-details">
					<span class="secondary-text time">{{ latestEpisode.duration | secondsToHhMmSs }}</span>
					<span class="secondary-text time">{{ latestEpisode.published | date }}</span>
				</div>
			</div>
		</div>
		<h5 class="secondary-title">About</h5>
		<p id="banner-info-details">{{ description | description }}</p>
		<div id="podcast-links">
			<i *ngIf="!isLoading" class="fas fa-globe-europe podcast-link-btn"
				(click)="showDescription($event, 'Website', website)" data-tooltip="Show website URL"
				tooltip-position="top"></i>
			<i *ngIf="!isLoading" class="fas fa-rss podcast-link-btn" (click)="showDescription($event, 'RSS', rss)"
				data-tooltip="Show RSS feed" tooltip-position="top"></i>
			<i *ngIf="!isLoading" class="far fa-envelope podcast-link-btn" (click)="showDescription($event, 'Email', email)"
				data-tooltip="Show email" tooltip-position="top"></i>
		</div>
	</div>
	<div id="podcast-items">
		<div class="feedback-section" *ngIf="episodes.length === 0">
			<h2 class="primary-text">No episodes</h2>
		</div>
		<div class="podcast-item" *ngFor="let e of episodes">
			<div class="podcast-item-actions">
				<i [ngClass]="playedEpisodes.indexOf(e.guid) === -1 ? 'far fa-circle':'fas fa-check-circle played-episode'"></i>
			</div>
			<div tabindex="0" class="podcast-item-info" (click)="play(e)" (keyup.enter)="play(e)">
				<div class="podcast-item-title">{{ e.title }}</div>
				<div class="podcast-item-details">
					<div class="podcast-item-duration time">{{ e.duration | secondsToHhMmSs }}</div>
					<div class="podcast-item-date time">{{ e.published | date }}</div>
				</div>
			</div>
			<div class="podcast-item-actions">
				<div class="dropdown">
					<button tabindex="-1" class="dropbtn"><i class="fas fa-ellipsis-v"></i></button>
					<div class="dropdown-content">
						<a class="dropdown-item" (click)="showDescription($event, e.title, e.description)">
							Show description
						</a>
						<a *ngIf="playedEpisodes.indexOf(e.guid) === -1" class="dropdown-item" (click)="markAsPlayed(e.guid)">
							Mark as played
						</a>
						<a *ngIf="playedEpisodes.indexOf(e.guid) != -1" class="dropdown-item" (click)="unmarkAsPlayed(e.guid)">
							Mark as unplayed
						</a>
						<a *ngIf="offlineEpisodes.indexOf(e.guid) === -1" class="dropdown-item" (click)="download($event, e)">
							Download
						</a>
						<a *ngIf="offlineEpisodes.indexOf(e.guid) != -1" class="dropdown-item" (click)="removeDownload($event, e)">
							Remove download
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>