#titlebar {
  user-select: none;
  -webkit-app-region: drag;
  background: var(--primary-bg-color);
  border-bottom: 1px solid orange;
  box-shadow: 0px 2px 5px #111;
  height: calc(var(--titlebar-height) - 1px);
}

#titlebar-btns {
  -webkit-app-region: no-drag;
  height: 100%;
}

#min-btn,
#max-btn,
#close-btn {
  cursor: pointer;
  width: 20px;
  height: 20px;
  color: #aaa;
  margin-right: 10px;
  margin-left: 10px;
}

#min-btn:hover,
#max-btn:hover {
  color: #777;
  transform: scale(1.2);
}

#close-btn:hover {
  color: rgb(115, 30, 30);
  transform: scale(1.2);
}