#titlebar {
  user-select: none;
  -webkit-app-region: drag;
  background: var(--primary-bg-color);
  border-bottom: 1px solid var(--primary-color);
  box-shadow: 0px 2px 5px #111;
  height: calc(var(--titlebar-height) - 1px);
  padding-left: 10px;
}

#titlebar-btns {
  -webkit-app-region: no-drag;
  height: 100%;
}

#min-btn,
#max-btn,
#close-btn {
  cursor: pointer;
  color: var(--secondary-text-color);
  padding: 10px;
}

#min-btn:hover,
#max-btn:hover {
  background-color: #444;
}

#close-btn:hover {
  background-color: rgb(115, 30, 30);
}