<div id="titlebar" class="level is-mobile">
  <div class="level-left">
    <div class="level-item">
      <i class="fas fa-chevron-left"></i>
    </div>
    <div class="level-item">
      <i class="fas fa-chevron-right"></i>
    </div>
  </div>
  <div id="titlebar-btns" class="level-right">
    <i id="min-btn" class="far fa-window-minimize" (click)="minimize()"></i>
    <i id="max-btn" class="far fa-square" (click)="maximize()"></i>
    <i id="close-btn" class="fas fa-times" (click)="close()"></i>
  </div>
</div>