:host {
  user-select: none;
  -webkit-app-region: drag;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid var(--primary-color);
}

.titlebar-btns {
	-webkit-app-region: no-drag;
	display: flex;
	flex-direction: row;
	flex: 0 0 auto;
	height: 100%;
	align-items: center;
}

#back-btn, #forward-btn {
  cursor: pointer;
	color: var(--secondary-text-color);
	padding-left: 13px;
	padding-right: 13px;
	transition: all linear 0.1s;
}

#back-btn:hover, #forward-btn:hover {
	color: var(--primary-text-color);
}

#min-btn, #max-btn, #close-btn {
	display: flex;
  cursor: pointer;
	color: var(--secondary-text-color);
	padding-left: 10px;
	padding-right: 10px;
	height: 100%;
	align-items: center;
	transition: all linear 0.1s;
}

#min-btn:hover, #max-btn:hover {
	color: var(--primary-text-color);
	background: var(--third-bg-color);
}

#close-btn:hover {
	color: #efefef;
  background: #9a2222;
}