<!DOCTYPE html>
<html ng-app="poddr">

<head>
  <title>Poddr</title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Rubik" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../node_modules/angular-material/angular-material.css">
  <link rel="stylesheet" type="text/css" href="styles/style.css">
  <link rel="stylesheet" type="text/css" href="styles/scrollbar.css">
  <link rel="stylesheet" type="text/css" href="styles/tooltip.css">
  <link rel="stylesheet" type="text/css" href="styles/input.css">
  <link rel="stylesheet" type="text/css" href="styles/fontawesome.min.css">

  <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
  <script type="text/javascript" src="../node_modules/angular-aria/angular-aria.min.js"></script>
  <script type="text/javascript" src="../node_modules/angular-animate/angular-animate.min.js"></script>
  <script type="text/javascript" src="../node_modules/angular-material/angular-material.min.js"></script>
  <script type="text/javascript" src="scripts/assets/mousetrap.min.js"></script>
  <script type="text/javascript" src="scripts/assets/mousetrap-global-bind.min.js"></script>
  <script type="text/javascript" src="scripts/config.js"></script>
  <script type="text/javascript" src="scripts/app/poddrController.js"></script>
  <script type="text/javascript" src="scripts/app/podcastController.js"></script>
  <script type="text/javascript" src="scripts/app/search.js"></script>
  <script type="text/javascript" src="scripts/app/episodes.js"></script>
  <script type="text/javascript" src="scripts/app/favourites.js"></script>
  <script type="text/javascript" src="scripts/app/player.js"></script>
  <script type="text/javascript" src="scripts/app/settings.js"></script>
  <script type="text/javascript" src="scripts/app/menu.js"></script>
</head>

<body layout="column" ng-controller="PoddrController" ng-init="init()" style="overflow-x:hidden;" ng-cloak>
  <div id="title-bar" md-whiteframe="8">
    <div id="title-bar-btns">
      <i id="min-btn" class="far fa-window-minimize"></i>
      <i id="max-btn" class="far fa-square"></i>
      <i id="close-btn" class="fas fa-times"></i>
    </div>
  </div>

  <div flex layout="row">
    <md-sidenav id="left-sidenav" flex="15" md-is-locked-open="true" md-component-id="left" layout-align="space-between start">
      <md-list class="md-dense" md-no-ink style="padding:0;width: 100%;">
        <md-list-item class="menu-item" id="toplist-item" ng-click="changeView('podcasts')">
          <md-item-content class="menu-item-content" layout="row" layout-align="center center">
            <i class="fas fa-fire menu-icon"></i>
            <div class="inset menu-text">
              Toplists
            </div>
          </md-item-content>
        </md-list-item>

        <md-list-item class="menu-item" id="search-item" ng-click="changeView('search')">
          <md-item-content class="menu-item-content" md-ink-ripple layout="row" layout-align="center center">
            <i class="fas fa-search menu-icon"></i>
            <div class="inset menu-text">
              Search
            </div>
          </md-item-content>
        </md-list-item>

        <md-list-item class="menu-item" id="favourite-item" ng-click="changeView('favourites')">
          <md-item-content class="menu-item-content" md-ink-ripple layout="row" layout-align="center center">
            <i class="far fa-heart menu-icon"></i>
            <div class="inset menu-text">
              Favourites
            </div>
          </md-item-content>
        </md-list-item>

        <md-list-item class="menu-item" id="settings-item" ng-click="changeView('settings')">
          <md-item-content class="menu-item-content" md-ink-ripple layout="row" layout-align="center center">
            <i class="fas fa-cog menu-icon"></i>
            <div class="inset menu-text">
              Settings
            </div>
          </md-item-content>
        </md-list-item>
      </md-list>
      <img src="{{ playerService.episodeCover || playerService.podcastCover || 'images/album_cover.png' }}" style="width:100%;height:auto;">
    </md-sidenav>
    <div layout="column" flex>

      <!-- Content -->
      <div ng-switch="mainContent" class="box2">
        <div ng-switch-when="podcasts" style="width:100%">
          <podcasts />
        </div>
        <div ng-switch-when="favourites" style="width:100%">
          <favourites />
        </div>
        <div ng-switch-when="search" style="width:100%">
          <search />
        </div>
        <div ng-switch-when="settings" style="width:100%">
          <settings />
        </div>
      </div>

      <md-sidenav class="md-sidenav-right" id="right-sidenav" md-component-id="right" md-disable-backdrop>
        <md-content style="background-color:transparent;">
          <episodes />
        </md-content>
      </md-sidenav>

      <!-- Player -->
      <div class="player" layout="column" ng-controller="PlayerController">
        <div class="row">
          <div id="progress">
            <div id="bar" ng-style="{'width':barWidth + '%'}"></div>
          </div>
        </div>
        <div class="row" layout="row" style="height:100%">
          <div flex="5" layout="row" layout-align="center center">
            <i class="fas fa-backward media-btn" ng-click="changePlayerTime(-10)" tabindex="-1"></i>
          </div>
          <div layout="row" layout-align="center center">
            <i id="play-btn" ng-class="{true:'far fa-pause-circle', false:'far fa-play-circle'}[isPlaying()]" ng-click="togglePlay()"
              tabindex="-1"></i>
          </div>
          <div flex="5" layout="row" layout-align="center center">
            <i class="fas fa-forward media-btn" ng-click="changePlayerTime(10)" tabindex="-1"></i>
          </div>
          <div flex layout="column" layout-align="center start" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;text-shadow: 0px 0px 10px #000">
            <a href ng-click="showEpisodes(playerService.podcastID, playerService.podcastArtist, playerService.podcastCover)"
              style="color: white;text-decoration: none;">
              {{ playerService.currentlyPlaying }}
            </a>
            <span class="timer-text">{{ playerService.atTime | secondsToHHmmss }} / {{ playerService.podcastDuration |
              secondsToHHmmss
              }}
            </span>
          </div>
          <div flex="5" layout="row" layout-align="center center">
            <md-progress-circular ng-if="isLoading" md-mode="indeterminate" md-diameter="25"></md-progress-circular>
          </div>
          <div flex="5" layout="row" layout-align="center center" ng-if="!isPlayerFavourite()">
            <i class="far fa-heart fa-icon fav-btn" ng-click="setFavourite()"></i>
          </div>
          <div flex="5" layout="row" layout-align="center center">
            <i class="fas fa-info-circle fa-icon desc-btn" ng-click="showDescription(playerService.currentlyPlaying, playerService.podcastDescription | episodeDesc)"></i>
          </div>
          <div flex="5" layout="row" layout-align="center center">
            <i id="toggle-btn" class="fas fa-bars fa-icon" ng-click="toggleSidebar()"></i>
          </div>
          <div flex="5" layout="row" layout-align="center center">
            <i id="volume-btn" ng-class="{true:'fas fa-volume-off fa-icon', false:'fas fa-volume-up fa-icon'}[isMuted()]"></i>
          </div>
          <md-slider-container flex="10">
            <md-slider id="volume-slider" onmouseup="document.activeElement.blur()" ng-model="volume" ng-change="setVolume()"
              flex min="0" max="1" step="0.0001" aria-label="volume" tabindex="-1"></md-slider>
          </md-slider-container>
          <div flex="5"></div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>