<!DOCTYPE html>
<html ng-app="poddr">

<head>
  <title>Poddr</title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Rubik" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../node_modules/material-design-icons-iconfont/dist/material-design-icons.css">

  <link rel="stylesheet" type="text/css" href="../node_modules/angular-material/angular-material.css">
  <link rel="stylesheet" type="text/css" href="styles/style.css">
  <link rel="stylesheet" type="text/css" href="styles/scrollbar.css">

  <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
  <script type="text/javascript" src="../node_modules/angular-aria/angular-aria.min.js"></script>
  <script type="text/javascript" src="../node_modules/angular-animate/angular-animate.min.js"></script>
  <script type="text/javascript" src="../node_modules/angular-material/angular-material.min.js"></script>
  <script type="text/javascript" src="scripts/assets/mousetrap.min.js"></script>
  <script type="text/javascript" src="scripts/assets/mousetrap-global-bind.min.js"></script>
  <script type="text/javascript" src="scripts/config.js"></script>
  <script type="text/javascript" src="scripts/app/poddrController.js"></script>
  <script type="text/javascript" src="scripts/app/podcastController.js"></script>
  <script type="text/javascript" src="scripts/app/search.js"></script>
  <script type="text/javascript" src="scripts/app/episodes.js"></script>
  <script type="text/javascript" src="scripts/app/favourites.js"></script>
  <script type="text/javascript" src="scripts/app/player.js"></script>
  <script type="text/javascript" src="scripts/app/settings.js"></script>
  <script type="text/javascript" src="scripts/app/menu.js"></script>

</head>

<body layout="column" ng-controller="PoddrController" ng-init="init()" style="overflow-x:hidden;" ng-cloak>
  <div id="title-bar" md-whiteframe="8">
    <div id="title-bar-btns">
      <md-icon id="min-btn" md-font-library="material-icons">remove</md-icon>
      <md-icon id="max-btn" md-font-library="material-icons">crop_square</md-icon>
      <md-icon id="close-btn" md-font-library="material-icons">close</md-icon>
    </div>
  </div>

  <div flex layout="row">
    <md-sidenav id="left-sidenav" flex="15" md-is-locked-open="true" md-component-id="left">
      <md-list class="md-dense" flex md-no-ink>
        <md-list-item class="menu-item" id="toplist-item" ng-click="changeView('podcasts')">
          <md-item-content layout="row" layout-align="center center">
            <md-icon class="menu-icon" md-font-library="material-icons">whatshot</md-icon>
            <div class="inset">
              Toplists
            </div>
          </md-item-content>
        </md-list-item>

        <md-divider></md-divider>

        <md-list-item class="menu-item" id="search-item" ng-click="changeView('search')">
          <md-item-content md-ink-ripple layout="row" layout-align="center center">
            <md-icon class="menu-icon" md-font-library="material-icons">search</md-icon>
            <div class="inset">
              Search
            </div>
          </md-item-content>
        </md-list-item>

        <md-divider></md-divider>

        <md-list-item class="menu-item" id="favourite-item" ng-click="changeView('favourites')">
          <md-item-content md-ink-ripple layout="row" layout-align="center center">
            <md-icon class="menu-icon" md-font-library="material-icons">favorite_border</md-icon>
            <div class="inset">
              Favourites
            </div>
          </md-item-content>
        </md-list-item>

        <md-divider></md-divider>

        <md-list-item class="menu-item" id="about-item" ng-click="changeView('settings')">
          <md-item-content md-ink-ripple layout="row" layout-align="center center">
            <md-icon class="menu-icon" md-font-library="material-icons">settings</md-icon>
            <div class="inset">
              About
            </div>
          </md-item-content>
        </md-list-item>
      </md-list>
      <div style="position:absolute;bottom:0;width:100%;height:auto;">
        <img ng-src='{{ playerService.episodeCover || "images/album_cover.png" }}' style="width:100%;height:auto;position:absolute;bottom:0;"
        />
      </div>

    </md-sidenav>
    <div layout="column" flex>
      <!-- Content -->

      <div ng-switch="mainContent" class="box2">
        <div ng-switch-when="podcasts" style="width:100%">
          <podcasts/>
        </div>
        <div ng-switch-when="favourites" style="width:100%">
          <favourites/>
        </div>
        <div ng-switch-when="search" style="width:100%">
          <search/>
        </div>
        <div ng-switch-when="settings" style="width:100%">
          <settings/>
        </div>
      </div>

      <md-sidenav class="md-sidenav-right" id="right-sidenav" md-whiteframe="8" md-component-id="right">
        <md-content style="background-color:transparent;">
          <episodes/>
        </md-content>
      </md-sidenav>

      <!-- Player -->
      <div class="box3" layout="column" ng-controller="PlayerController">
        <div class="row">
          <div id="progress">
            <div id="bar" ng-style="{'width':barWidth}"></div>
          </div>
        </div>
        <div class="row" layout="row" style="height:100%">
          <div flex="10" layout="row" layout-align="center center">
            <md-icon id="play-btn" md-font-library="material-icons" ng-click="togglePlay()">{{ checkPlayBtn() }}</md-icon>
          </div>
          <div flex layout="column" layout-align="center start" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;text-shadow: 0px 0px 10px #000">
            <a href ng-click="showEpisodes(playerService.podcastID, playerService.podcastArtist, playerService.podcastcover)" style="color: white;text-decoration: none;">
              {{ playerService.currentlyPlaying }}
            </a>
            <span class="timer-text">{{ playerService.atTime | secondsToHHmmss }} / {{ playerService.podcastDuration | secondsToHHmmss }}</span>
          </div>
          <div flex="10" layout="row" layout-align="center center">
            <md-progress-circular md-mode="indeterminate" md-diameter="30" ng-show="isLoading"></md-progress-circular>
          </div>
          <div flex="5" layout="row" layout-align="center center">
            <md-icon id="fav-btn" ng-hide="isPlayerFavourite()" ng-click="setFavourite()" md-font-library="material-icons">favorite_border</md-icon>
          </div>
          <div flex="5" layout="row" layout-align="center center">
            <md-icon id="desc-btn" ng-click="showDescription(playerService.podcastDescription | episodeDesc)" md-font-library="material-icons">info</md-icon>
          </div>
          <div flex="5" layout="row" layout-align="center center">
            <md-icon id="toggle-btn" ng-click="toggleSidebar()" md-font-library="material-icons">view_headline</md-icon>
          </div>
          <div flex="5" layout="row" layout-align="center center">
            <md-icon id="volume-btn" md-font-library="material-icons">{{ checkVolume() }}</md-icon>
          </div>
          <md-slider-container flex="10">
            <md-slider id="volume-slider" onmouseup="document.activeElement.blur()" ng-model="volume" ng-change="setVolume()" flex min="0"
              max="1" step="0.0001" aria-label="volume"></md-slider>
          </md-slider-container>
          <div flex="5"></div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>