<!DOCTYPE html>
<html ng-app="poddr">
  <head>
      <title>Poddr</title>

      <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="../bower_components/angular-material/angular-material.css">
      <link rel="stylesheet" type="text/css" href="styles/style.css">

      <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

      <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
      <script type="text/javascript" src="../bower_components/angular-aria/angular-aria.js"></script>
      <script type="text/javascript" src="../bower_components/angular-animate/angular-animate.js"></script>
      <script type="text/javascript" src="../bower_components/angular-material/angular-material.js"></script>

      <script type="text/javascript" src="scripts/index.js"></script>
      <script type="text/javascript" src="scripts/app/poddrController.js"></script>
      <script type="text/javascript" src="scripts/app/podcastController.js"></script>
      <script type="text/javascript" src="scripts/app/search.js"></script>
      <script type="text/javascript" src="scripts/app/episodes.js"></script>
      <script type="text/javascript" src="scripts/app/favourites.js"></script>
      <script type="text/javascript" src="scripts/app/player.js"></script>
      <script type="text/javascript" src="scripts/app/settings.js"></script>
      <script type="text/javascript" src="scripts/app/menu.js"></script>

      <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>

      <script>if (window.module) module = window.module;</script>
  </head>
  <body layout="column" ng-controller="PoddrController" style="overflow-x:hidden;" ng-cloak>
    <div id="title-bar" md-whiteframe="8">
      <div id="title-bar-btns">
        <md-icon id="min-btn" md-font-library="material-icons">remove</md-icon>
        <md-icon id="max-btn" md-font-library="material-icons">fullscreen</md-icon>
        <md-icon id="close-btn" md-font-library="material-icons">close</md-icon>
      </div>
    </div>

    <div flex layout="row">
      <md-sidenav flex="15" md-is-locked-open="true" md-whiteframe="8" md-component-id="left" style="background-color: hsla(0, 0%, 0%, 0.2)">
        <md-content style="background-color:transparent">
          <md-list md-no-ink>
            <md-item>
                <md-item-content layout="row" layout-align="center center">
                  <div class="inset">
                    <h2>Poddr</h2>
                  </div>
                </md-item-content>
            </md-item>
            <md-divider></md-divider>
            <md-list-item class="menuItem" ng-click="changeView('podcasts')">
                <md-item-content layout="row" layout-align="center center">
                  <md-icon style="color:rgba(255, 153, 0, 0.7);" md-font-library="material-icons">headset</md-icon>
                  <div class="inset">
                    Podcasts
                  </div>
                </md-item-content>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item class="menuItem" ng-click="changeView('search')">
                <md-item-content md-ink-ripple layout="row" layout-align="center center">
                  <md-icon style="color:rgba(255, 153, 0, 0.7);" md-font-library="material-icons">search</md-icon>
                  <div class="inset">
                    Search
                  </div>
                </md-item-content>
            </md-list-item>
            <md-divider></md-divider>

            <md-list-item class="menuItem" ng-click="changeView('favourites')">
                <md-item-content md-ink-ripple layout="row" layout-align="center center">
                  <md-icon style="color:rgba(255, 153, 0, 0.7);" md-font-library="material-icons">favorite</md-icon>
                  <div class="inset">
                    Favourites
                  </div>
                </md-item-content>
            </md-list-item>
            <md-divider></md-divider>

            <md-list-item class="menuItem" ng-click="changeView('settings')">
                <md-item-content md-ink-ripple layout="row" layout-align="center center">
                  <md-icon style="color:rgba(255, 153, 0, 0.7);" md-font-library="material-icons">settings</md-icon>
                  <div class="inset">
                    About
                  </div>
                </md-item-content>
            </md-list-item>
            <md-divider></md-divider>

          </md-list>
        </md-content>
        <div style="position:absolute;bottom:0;width:100%;height:auto;" ng-controller="PlayerController">
          <img src='{{ getAlbumCover() || "images/album_cover.png" }}' style="width:100%;height:auto;position:absolute;bottom:0;"/>
        </div>
      </md-sidenav>
      <div layout="column" flex>
        <!-- Content -->

        <div ng-switch="mainContent" class="box2">
          <div ng-switch-when="podcasts" style="width:100%">
            <podcasts/>
          </div>
          <div ng-switch-when="favourites" style="width:100%">
            <favourites/>
          </div>
          <div ng-switch-when="search" style="width:100%">
            <search/>
          </div>
          <div ng-switch-when="settings" style="width:100%">
            <settings/>
          </div>
        </div>

        <md-sidenav class="md-sidenav-right" md-whiteframe="8" md-component-id="right" style="min-width:450px;max-width:450px;width:450px;background-color:black;">
          <md-content>
            <episodes/>
          </md-content>
        </md-sidenav>

        <!-- Player -->
        <div class="box3" layout="column" ng-controller="PlayerController" md-whiteframe="24">
          <div flex="10" id="progress">
            <div id="bar" ng-style="{'width':barWidth}" md-colors="{background: 'primary'}">
              <!-- Progressbar -->
            </div>
          </div>
          <div flex layout="row">
            <div flex="10" layout="column" layout-align="center center">
              <md-button class="md-fab md-mini" ng-click="togglePlay()">
                <md-icon md-font-library="material-icons">{{ checkPlayBtn() }}</md-icon>
              </md-button>
            </div>
            <div flex="30" layout="column" layout-align="center start" style="color:white">
              <b ng-bind="currentlyPlaying()"></b>
            </div>
            <div flex="20" layout="column" layout-align="center center" style="color:#ccc;font-size:14px;">
              <p>{{ currentTime() | secondsToHHmmss }} / {{ podcastDuration() | secondsToHHmmss }}</p>
            </div>
            <div flex="10" layout="column" layout-align="center center">
              <md-progress-circular md-mode="indeterminate" md-diameter="30" ng-show="isLoading"></md-progress-circular>
            </div>
            <div flex="10" layout="column" layout-align="center center">
              <md-icon class="toggle-btn" ng-click="toggleSidebar()" md-font-library="material-icons">view_headline</md-icon>
            </div>
            <div flex="20" layout="column" layout-align="center center">
              <md-slider-container>
                <span><md-icon md-font-library="material-icons">volume_up</md-icon></span>
                <md-slider id="volume" ng-model="volume" ng-change="setVolume()" flex min="0" max="1" step="0.001" aria-label="volume"></md-slider>
              </md-slider-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
