<div class="banner">
	<div class="banner-info">
		<h5 class="secondary-title truncate">Your</h5>
		<h1 class="primary-title truncate">Favourites</h1>
	</div>
	<div class="banner-actions">
		<button class="btn-underline" [ngClass]="{'active': content == 'favourites'}" (click)="content = 'favourites'">PODCASTS</button>
		<button class="btn-underline" [ngClass]="{'active': content == 'episodes'}" (click)="content = 'episodes'">EPISODES</button>
		<button class="btn-underline" [ngClass]="{'active': content == 'offline'}" (click)="content = 'offline'">OFFLINE</button>
		<button class="btn-border" (click)="add()" aria-label="Add RSS feed" data-pop="left" data-pop-arrow>
			<fa-icon [icon]="faPlus"></fa-icon>
		</button>
	</div>
</div>
<div class="grid" *ngIf="content === 'favourites'">
	<div class="feedback-section" *ngIf="favourites.length === 0">
		<h2 class="primary-text">No favourites added</h2>
	</div>
	<div class="grid-item" *ngFor="let f of favourites">
		<div class="podcast-frame shadow">
			<a class="image-container" [routerLink]="['/podcast', f.rss]">
				<img class="image-cover" [src]="f.img || 'assets/images/album_cover.png'" onload="this.style.opacity = 1">
			</a>
			<div class="podcast-frame-info">
				<div class="podcast-frame-title truncate" [routerLink]="['/podcast', f.rss]" tabindex="-1">{{ f.title }}</div>
				<div class="podcast-frame-btns">
					<fa-icon [icon]="faTimes" class="podcast-frame-btn podcast-frame-remove-btn" (click)="remove(f.rss)"
						aria-label="Remove favourite" data-pop data-pop-arrow></fa-icon>
				</div>
			</div>
		</div>
	</div>
</div>
<div *ngIf="content === 'episodes'">
	EPISODES
</div>
<div class="offline-episodes" *ngIf="content === 'offline'">
	<div class="feedback-section" *ngIf="offlineEpisodes.length === 0">
		<h2 class="primary-text">No downloaded episodes</h2>
	</div>
	<div class="offline-episode" *ngFor="let o of offlineEpisodes">
		<div class="offline-episode-title" (click)="playOffline(o)">
			{{ o.episodeTitle }} <span class="secondary-text">{{ " - " + o.author }}</span>
		</div>
		<div class="offline-episode-actions">
			<fa-icon [icon]="faTimes" class="podcast-frame-remove-btn" (click)="removeOffline(o.guid)"
				aria-label="Remove episode" data-pop="left" data-pop-arrow></fa-icon>
		</div>
	</div>
</div>
