<div class="banner">
	<h1>Favourites</h1>
</div>
<div class="grid">
	<div class="grid-item" *ngFor="let f of favourites">
		<div class="podcast-frame shadow">
			<div class="podcast-frame-image" [routerLink]="['/podcast', f.rss]">
				<img [src]="f.img">
			</div>
			<div class="podcast-frame-info">
				<div class="podcast-frame-title truncate" [routerLink]="['/podcast', f.rss]">{{ f.title }}</div>
				<div class="podcast-frame-btns">
					<i class="fas fa-times podcast-frame-btn podcast-frame-remove-btn" (click)="remove(f.rss)"></i>
				</div>
			</div>
		</div>
	</div>
</div>