:host {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
	height: 100%;
	width: 100%;
}

#menu {
	padding: 0.5rem;
	margin: 0;
}

.menu-item {
	cursor: pointer;
}

.menu-item.active {
	background-color: var(--third-bg-color);
	border-left: 3px solid var(--primary-color);
}

.menu-item:hover, .menu-item:focus {
	outline: none;
	background-color: var(--third-bg-color);
}

.menu-item-text {
	font-size: 13px;
	color: var(--primary-text-color);
}

.menu-item-icon {
	color: var(--primary-color);
	margin: 1rem;
	font-size: 15px;
	width: 15px;
	height: 15px;
}

#podcast-cover {
	width: 100%;
	height: auto;
}

/* media queries for left navigation menu */

@media (max-width: 768px) {
	.menu-item-text {
		display: none;
	}
	.menu-item-icon {
		margin-left: auto !important;
		margin-right: auto !important;
		font-size: 20px;
		width: 20px;
		height: 20px;
	}
}