<div id="menu-test">
	<div class="menu-item" tabindex="-1" routerLink="/toplists" routerLinkActive="active"><i class="fas fa-fire menu-item-icon"></i><span class="menu-item-text">Toplists</span></div>
	<div class="menu-item" tabindex="-1" routerLink="/search" routerLinkActive="active"><i class="fas fa-search menu-item-icon"></i><span class="menu-item-text">Search</span></div>
	<div class="menu-item" tabindex="-1" routerLink="/favourites" routerLinkActive="active"><i class="far fa-heart menu-item-icon"></i><span class="menu-item-text">Favourites</span></div>
	<div class="menu-item" tabindex="-1" routerLink="/settings" routerLinkActive="active"><i class="fas fa-tools menu-item-icon"></i><span class="menu-item-text">Settings</span></div>
</div>

<img id="podcast-cover" [src]="image" />