<div id="menu-test">
	<div class="menu-item" tabindex="-1" routerLink="/toplists" routerLinkActive="active">
		<fa-icon [icon]="faFire" class="menu-item-icon"></fa-icon>
		<span class="menu-item-text">Toplists</span>
	</div>
	<div class="menu-item" tabindex="-1" routerLink="/latest" routerLinkActive="active">
		<fa-icon [icon]="faBolt" class="menu-item-icon"></fa-icon>
		<span class="menu-item-text">Latest</span>
	</div>
	<div class="menu-item" tabindex="-1" routerLink="/search" routerLinkActive="active">
		<fa-icon [icon]="faSearch" class="menu-item-icon"></fa-icon><span class="menu-item-text">Search</span>
	</div>
	<div class="menu-item" tabindex="-1" routerLink="/favourites" routerLinkActive="active">
		<fa-icon [icon]="faHeart" class="menu-item-icon"></fa-icon><span class="menu-item-text">Favourites</span>
	</div>
	<div class="menu-item" tabindex="-1" routerLink="/settings" routerLinkActive="active">
		<fa-icon [icon]="faTools" class="menu-item-icon"></fa-icon><span class="menu-item-text">Settings</span>
	</div>
</div>

<img id="podcast-cover" [routerLink]="['/podcast', rss]" [src]="image || 'assets/images/album_cover.png'" />
