@import "./assets/styles/scrollbar.css";
@import "./assets/styles/grid.css";
@import "./assets/styles/list.css";
@import "./assets/styles/range-input.css";
@import "./assets/styles/shadow.css";
@import "./assets/styles/loader.css";
@import "./assets/styles/sweet-alert.css";
@import "./assets/styles/details.css";
@import "./assets/styles/kbd.css";
@import "./assets/styles/button.css";
@import "./assets/styles/image.css";
@import "./assets/styles/hover-menu.css";
@import "./assets/styles/custom-pickr.css";
@import "./assets/styles/custom-select.css";
@import "../node_modules/@sn8z/pop-pop.css/dist/pop-pop.min.css";
@import "../node_modules/@ng-select/ng-select/themes/default.theme.css";
@import '../node_modules/@simonwep/pickr/dist/themes/classic.min.css';
@import "../node_modules/typeface-open-sans/index.css";
@import "../node_modules/typeface-nunito-sans/index.css";
:root {
	--primary-color: #ff6600;
	--primary-bg-color: #111111;
	--secondary-bg-color: #151515;
	--third-bg-color: #222222;
	--primary-text-color: #efefef;
	--secondary-text-color: #ababab;
	--titlebar-height: 35px;
	--pop-bg-color: var(--secondary-bg-color);
	--pop-text-color: var(--primary-text-color);
	--pop-transition-delay: 1s;
}

* {
	font-family: "Nunito Sans", sans-serif;
	box-sizing: border-box;
}

:focus {
	outline-width: 2px;
	outline-style: solid;
	outline-color: var(--primary-color);
}

html, body {
	height: 100vh;
	max-height: 100vh;
	width: 100vw;
	max-width: 100vw;
	background-color: var(--primary-bg-color);
	padding: 0;
	margin: 0;
	overflow: hidden;
}

body {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
}

body.using-mouse :focus {
	outline: none;
}

.time {
	font-family: 'Open Sans', sans-serif;
}

.feedback-section {
	display: flex;
	flex: 1;
	justify-content: center;
	padding: 1.5rem;
}

.primary-title {
	color: var(--primary-text-color);
	margin: 0;
}

.secondary-title {
	color: var(--secondary-text-color);
	margin: 0;
}

.primary-text {
	color: var(--primary-text-color);
}

.secondary-text {
	color: var(--secondary-text-color);
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.banner {
	position: sticky;
	top: 0;
	z-index: 10;
	display: flex;
	flex: 0 0 120px;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	background-color: var(--primary-bg-color);
	transition: all 300ms ease;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.banner.shrink {
	flex: 0 0 70px;
	margin-bottom: 50px;
}

.banner-image {
	flex: 0 0 120px;
}

.banner-info {
	flex: 1;
	overflow: hidden;
	padding-left: 0.75rem;
}

.banner-actions {
	display: flex;
	flex-direction: row;
	flex: 0 0 auto;
	min-width: 100px;
	justify-content: center;
	text-align: center;
	padding-right: 0.75rem;
}