@import "./assets/styles/scrollbar.css";
@import "./assets/styles/dropdown.css";
@import "./assets/styles/grid.css";
@import "./assets/styles/range-input.css";
@import "./assets/styles/shadow.css";
@import "./assets/styles/loader.css";
@import "./assets/styles/sweet-alert.css";
@import "./assets/styles/details.css";
@import "./assets/styles/kbd.css";
@import "./assets/styles/button.css";
@import "./assets/styles/image.css";
@import '../node_modules/@simonwep/pickr/dist/themes/classic.min.css';
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "../node_modules/typeface-open-sans/index.css";
@import "../node_modules/typeface-rubik/index.css";

:root {
  --primary-color: #ff6600;
  --primary-bg-color: #111111;
  --secondary-bg-color: #151515;
  --third-bg-color: #222222;
  --primary-text-color: #efefef;
  --secondary-text-color: #ababab;
  --titlebar-height: 35px;
}

* {
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}

:focus {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--primary-color);
}

html, body {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  background-color: var(--primary-bg-color);
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

body.using-mouse :focus {
  outline: none;
}

.time {
  font-family: 'Open Sans', sans-serif;
}

.banner {
  display: flex;
  flex: 0 0 125px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  background-color: var(--primary-bg-color);
}

.feedback-section {
	display: flex;
	flex: 1;
	justify-content: center;
	padding: 1.5rem;	
}

.primary-title {
  color: var(--primary-text-color);
  margin: 0;
}

.secondary-title {
  color: var(--secondary-text-color);
  margin: 0;
}

.primary-text {
  color: var(--primary-text-color);
}

.secondary-text {
  color: var(--secondary-text-color);
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}