<div class="search-banner shadow-bottom">
	<input id="search" type="text" [(ngModel)]="query" (keyup.enter)="search()" placeholder="Search">
</div>
<div id="feedback-section" *ngIf="isLoading || isEmpty">
	<div class="loader" *ngIf="isLoading"></div>
	<h2 class="primary-text" *ngIf="isEmpty">No results</h2>
</div>
<div class="podcast-list">
	<div class="podcast-list-item shadow" *ngFor="let r of results">
		<a class="podcast-list-item-image" [routerLink]="['/podcast', r.feedUrl]">
			<div class="image-container">
				<img class="image-cover" [src]="r.artworkUrl600 || 'assets/images/album_cover.png'" onload="this.style.opacity = 1">
			</div>
		</a>
		<div class="podcast-list-item-info" [routerLink]="['/podcast', r.feedUrl]" tabindex="-1">
			<h5 class="secondary-title truncate">{{ r.artistName }}</h5>
			<h1 class="primary-title truncate">{{ r.collectionName }}</h1>
			<p class="secondary-text truncate">{{ r.primaryGenreName }}</p>
		</div>
		<div class="podcast-list-item-actions">
			<i *ngIf="favs.indexOf(r.collectionName) == -1" class="far fa-heart primary-text"
				(click)="addToFavourites(r.feedUrl)"></i>
		</div>
	</div>
</div>