.btn-underline {
	color: var(--primary-text-color);
	border: none;
	background-color: transparent;
	transition-duration: 0.4s;
	padding: 10px;
	cursor: pointer;
	margin-left: 10px;
	margin-right: 10px;
}

.btn-underline.active {
	border-bottom: 2px solid var(--primary-color);
}

.btn-underline:hover {
	color: var(--primary-color);
}

.btn-border {
	color: var(--primary-text-color);
	border: 2px solid var(--primary-color);
	background-color: transparent;
	transition-duration: 0.4s;
	padding: 10px;
	cursor: pointer;
}

.btn-border:hover {
	background-color: var(--primary-color);
}

.btn {
	color: var(--primary-text-color);
	border: none;
	background-color: transparent;
	transition-duration: 0.4s;
	padding: 10px;
	cursor: pointer;
}

.btn:hover {
	color: var(--primary-color);
}

.btn-link {
	color: var(--primary-text-color);
	border: none;
	background-color: transparent;
	transition: all 0.3s ease;
	cursor: pointer;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-decoration: underline;
	margin: 1em 0;
	width: min-content;
}

.btn-link fa-icon {
	color: var(--primary-color);
	width: 20px;
  height: 20px;
  line-height: 20px;
	font-size: 20px;
	margin-right: 0.5em;
}

.btn-link:hover, .btn-link:focus {
	color: var(--primary-color);
}