select {
    border: 0 none;
    color: var(--primary-text-color);
    background-color: var(--secondary-bg-color);
    font-size: 14px;
		padding: 5px;
		margin: 10px;
    width: auto;
    transition: all 100ms linear;
    cursor: pointer;
}

select:hover {
    background-color: var(--third-bg-color);
}

select:focus {
		background-color: var(--third-bg-color);
}

select:focus-within {
    outline: none;
}
