.grid {
    display: flex;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.grid-item {
    flex-basis: 25%;
    max-width: 25%;
    height: auto;
    overflow: visible;
    box-sizing: border-box;
    padding: 1.25rem;
}

.podcast-frame {
    text-decoration: none;
    width: 100%;
    height: auto;
    background: var(--primary-bg-color);
    flex: 1;
    flex-direction: column;
    display: flex;
    transition: all 0.1s linear;
    cursor: pointer;
}

.podcast-frame-image {
    height: auto;
    width: 100%;
}

.podcast-frame-image>img {
    width: 100%;
    height: auto;
}

.podcast-frame-info {
    flex: 1;
    flex-direction: row;
    border-bottom: 1px solid var(--primary-color);
    display: flex;
    align-items: center;
    padding: 0.25rem;
}

.podcast-frame-title {
    flex: 1 1 auto;
    font-size: 14px;
    color: var(--primary-text-color);
}

.podcast-frame-btns {
    flex: 0 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.podcast-frame-btn {
    padding: 0.25rem;
    font-size: 12px;
    color: var(--secondary-text-color);
    transition: all 0.1s linear;
}

.podcast-frame-btn:hover {
    color: var(--primary-text-color);
}

/* Media queries for responsive grid */

@media (min-width: 3401px) {
    .grid-item {
        flex-basis: 12.5%;
        max-width: 12.5%;
    }
}

@media (min-width: 2801px) and (max-width: 3400px) {
    .grid-item {
        flex-basis: 14.28571%;
        max-width: 14.28571%;
    }
}

@media (min-width: 2201px) and (max-width: 2800px) {
    .grid-item {
        flex-basis: 16.66667%;
        max-width: 16.66667%;
    }
}

@media (min-width: 1601px) and (max-width: 2200px) {
    .grid-item {
        flex-basis: 20%;
        max-width: 20%;
    }
}

@media (min-width: 1025px) and (max-width: 1600px) {
    .grid-item {
        flex-basis: 25%;
        max-width: 25%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .grid-item {
        flex-basis: 33.33333%;
        max-width: 33.33333%;
    }
}

@media (max-width: 767px) {
    .grid-item {
        flex-basis: 50%;
        max-width: 50%;
    }
}