kbd {
	padding:5px;
	border: 1px solid var(--third-bg-color);
  font-size:12px;
  background-color: var(--primary-bg-color);
  color:var(--primary-text-color);
  border-radius:3px;
  display:inline-block;
  margin:0px;
  line-height:1.4;
  white-space:nowrap;
}