::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
	background: var(--third-bg-color);
	border: 2px solid var(--secondary-bg-color);
	border-radius: 6px;
}

::-webkit-scrollbar-track {
	background: var(--secondary-bg-color);
}

::-webkit-scrollbar-corner {
  background: transparent;
}