/* Toast styling */

.toast-popup-class {
	background: var(--third-bg-color) !important;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7) !important;
	color: var(--primary-text-color) !important;
	border-radius: 0.5rem !important;
}

.toast-content-class {
	padding: 0.5rem !important;
}

.toast-popup-update-class {
	background: var(--third-bg-color) !important;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7) !important;
	color: var(--primary-text-color) !important;
	border-radius: 0.5rem !important;
	cursor: pointer !important;
}

/* Modal Styling */

.modal-popup-class {
    background: var(--third-bg-color) !important;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7) !important;
    color: var(--primary-text-color) !important;
    white-space: pre-line !important;
}

.modal-title-class {
	color: var(--secondary-text-color) !important;
}

.modal-container-class {
    white-space: pre-line !important;
    text-align: left !important;
}

/* Swal Styling */

.swal-confirm-btn {
	background: var(--primary-color) !important;
}

.swal-input {
	color: var(--primary-text-color) !important;
}

.swal-validation {
	background: transparent !important;
	color: var(--secondary-text-color) !important;
}