/* Toast styles */
.toast-popup-class {
    background: var(--third-bg-color) !important;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7) !important;
}

.toast-content-class {
		color: var(--primary-text-color) !important;
		padding: 0.5rem !important;
}

/* Modal styles */
.modal-popup-class {
    background: var(--third-bg-color) !important;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7) !important;
}

.modal-content-class {
    color: var(--primary-text-color) !important;
    white-space: pre-line !important;
}

.modal-content-class>#swal2-content {
    text-align: left !important;
}

.modal-title-class {
    color: var(--secondary-text-color) !important;
}

/* Popup styles */
.swal2-popup {
	background: var(--third-bg-color) !important;
}

.swal2-title {
	color: var(--primary-text-color) !important;
}

.swal2-input {
	color: var(--primary-text-color) !important;
}

.swal2-styled.swal2-confirm {
	background: var(--primary-color) !important;
}

.swal2-validation-message {
	background: transparent !important;
	color: var(--primary-text-color) !important;
}