<div ng-controller="EpisodesController">
  <md-list>
    <md-list-item>
      <div class="row" layout="row" style="width: 100%">
        <div flex="80">
          <h2 style="color:white;">
            {{ episodeTitle || 'Episodes' }}
          </h2>
        </div>
        <div flex="20" layout="row" layout-align="center center">
          <md-progress-circular md-mode="indeterminate" md-diameter="25" ng-show="isLoading"></md-progress-circular>
        </div>
      </div>

    </md-list-item>
    <md-list-item>
      <div class="row" layout="row" style="width: 100%">
        <div flex="85">
          <md-input-container class="md-block" style="margin: 0">
            <input ng-model="query" type="text" placeholder="Filter by" />
          </md-input-container>
        </div>
        <div flex="15" layout="row" layout-align="center center">
          <md-icon md-font-library="material-icons" ng-click="toggleOrder=!toggleOrder">sort</md-icon>
        </div>
      </div>
    </md-list-item>
    <md-list-item class="episode-item" ng-repeat="episode in episodes | filter:query | orderBy: !toggleOrder?'-published':'published'"
      layout-margin>
      <div layout="column" ng-click='playPodcast(episode, albumCover)' style="width:100%" ng-attr-title="{{ episode.description | episodeDesc }}">
        <div class="row">
          <a href="#" style="color:white;text-decoration:none">{{ episode.title }}</a>
        </div>
        <div class="row" layout="row">
          <div flex="50">
            <span style="color:#bbb;font-size:12px;">{{ episode.published | date : format : timezone }}</span>
          </div>
          <div flex="50">
            <span style="color:#bbb;font-size:12px;float:right;">{{ episode.duration | secondsToHHmmss }}</span>
          </div>
        </div>
      </div>
    </md-list-item>
  </md-list>
</div>