<div ng-controller="EpisodesController">
  <md-list style="background-color:black;">
    <md-list-item>
      <h2 style="color:white;">
        Episodes
      </h2>
      <md-progress-circular md-mode="indeterminate" md-diameter="25" ng-show="isLoading" style="margin-left:10px;"></md-progress-circular>
    </md-list-item>
    <md-list-item ng-repeat="episode in episodes" style="background-color:black;">
      <div layout="column" ng-click='playPodcast(episode)' style="width:100%">
        <div class="row">
          <a href="#" style="color:white;text-decoration:none">{{ episode.title }}</a>
        </div>
        <div class="row" layout="row">
          <div flex="50">
            <span style="color:#bbb;font-size:12px;">{{ episode.published |  date : format : timezone }}</span>
          </div>
          <div flex="50">
            <span style="color:#bbb;font-size:12px;float:right;">{{ episode.duration | secondsToHHmmss }}</span>
          </div>
        </div>
      </div>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>
</div>
