<div id="podcastGrid" ng-controller="FavouritesController" layout="column" layout-padding ng-cloak>

  <div class="row" layout="row">
    <h1 flex style="color:white;margin-left: 15px;">Favourites</h1>
  </div>
  <div class="row" ng-if="angular.equals({}, favourites.all )">
    <h3 style="color:white;margin-left: 15px">No favourites added</h3>
  </div>
  <div class="row" layout="row" layout-wrap>
    <div class="grid-item" flex-xs="100" flex-sm="50" flex-md="33" flex-lg="25" flex-xl="20" ng-repeat="favourite in favourites.all">
      <div class="podcast-frame">
        <div style="position:relative;width:100%;height:0;padding-top:100%;">
          <img class="podcast-img" ng-click="showEpisodes(favourite.id, favourite.title, favourite.img)" ng-src="{{ ::favourite.img }}"
            onload="this.style.opacity = 1" width="100%" height="100%" />
        </div>
        <div class="row podcast-title" layout="row" tabindex="-1">
          <div md-truncate ng-click="showEpisodes(favourite.id, favourite.title, favourite.img)" flex>
            <md-tooltip md-delay="250">{{ ::favourite.title }}</md-tooltip>
            {{ ::favourite.title }}
          </div>
          <div flex="10">
            <md-icon class="remove-btn" md-font-library="material-icons" ng-click="removeFavourite(favourite.id)">
              <md-tooltip md-direction="top" md-delay="250">Remove favourite</md-tooltip>
              close
            </md-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>