<div id="podcastGrid" ng-controller="PodcastController" layout="column" layout-padding ng-cloak>
  <div class="row" layout="row">
    <h1 flex style="color:white">Top {{ amount }} - {{ region | tagToCapitalize }}</h1>
    <md-input-container flex="20">
      <label>Genre</label>
      <md-select name="type" ng-model="genre" ng-change="getPodcasts()" style="color:white">
        <md-option ng-repeat="x in genres" ng-value="x.id">{{ x.genre }}</md-option>
      </md-select>
    </md-input-container>
    <md-input-container flex="20">
      <label>Country</label>
      <md-select name="type" ng-model="region" ng-change="getPodcasts()" style="color:white">
        <md-option ng-repeat="country in countries" ng-value="country.iso">{{ country.name }}</md-option>
      </md-select>
    </md-input-container>
  </div>
  <div class="row" layout="row" layout-wrap>
    <div flex-xs="100" flex-sm="50" flex-md="33" flex-lg="25" flex-xl="20" ng-repeat="podcast in podcasts" style="padding:15px;">
      <div md-whiteframe="4" style="background-color:#010101;border-bottom:1px solid #f90;">
        <img src="{{ podcast['im:image'][2]['label'] }}" alt="album_cover" width="100%"/>
        <div class="row" style="color:white;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;" layout-padding>
          {{ podcast['im:name']['label'] }}
        </div>
        <div class="row" layout="row" layout-padding>
          <md-icon class="md-warn icon-btn" md-font-library="material-icons" ng-click="setFavourite(podcast['id']['attributes']['im:id'], podcast['im:image'][2]['label'], podcast.title.label, podcast['im:name']['label'])">favorite</md-icon>
          <md-icon class="icon-btn" md-font-library="material-icons" ng-click="showEpisodes(podcast['id']['attributes']['im:id'], podcast['im:image'][2]['label'])">reorder</md-icon>
        </div>
      </div>
    </div>
  </div>
</div>
