<div id="podcastGrid" ng-controller="PodcastController" layout="column" layout-padding ng-cloak>
  <div class="row" layout="row">
    <h1 flex style="color:white;margin-left: 15px;">Top {{ amount }}</h1>
    <md-input-container class="select-dropdown" flex="20">
      <label>Genre</label>
      <md-select name="type" ng-model="genre" ng-change="getPodcasts()">
        <md-option ng-repeat="x in genres" ng-value="x.id">{{ x.genre }}</md-option>
      </md-select>
    </md-input-container>
    <md-input-container class="select-dropdown" flex="20">
      <label>Country</label>
      <md-select name="type" ng-model="region" ng-change="getPodcasts()">
        <md-option ng-repeat="country in countries" ng-value="country.iso">{{ country.name }}</md-option>
      </md-select>
    </md-input-container>
  </div>
  <div class="row" layout="row" layout-wrap>

    <div class="grid-item" flex-xs="100" flex-sm="50" flex-md="33" flex-lg="25" flex-xl="25" ng-repeat="podcast in podcasts.slice(0, 4)">
      <div class="podcast-frame">
        <div style="position:relative">
          <div style="position:relative;width:100%;height:0;padding-top:100%;">
            <img ng-click="showEpisodes(podcast['id']['attributes']['im:id'], podcast['im:name']['label'], podcast['im:image'][1]['label'] | itunesPodcastCover)"
              ng-src="{{ podcast['im:image'][1]['label'] | itunesPodcastCover }}" onload="this.style.opacity = 1" style="cursor:pointer;position:absolute; top:0; left:0; width:100%; opacity: 0; transition: opacity 0.5s ease-in-out;"
            />
          </div>
          <div layout="row" style="position:absolute;bottom:10px;right:10px;height:auto">
            <md-button class="md-icon-button md-warn icon-btn" ng-if="!isFavourite(podcast['id']['attributes']['im:id'])">
              <md-icon md-font-library="material-icons" ng-click="setFavourite(podcast['id']['attributes']['im:id'], podcast['im:image'][1]['label'] | itunesPodcastCover , podcast.title.label, podcast['im:name']['label'])">favorite_border</md-icon>
            </md-button>
          </div>
        </div>
        <div class="row podcast-title" ng-attr-title="{{ podcast['im:name']['label'] }}" ng-click="showEpisodes(podcast['id']['attributes']['im:id'], podcast['im:name']['label'], podcast['im:image'][1]['label'] | itunesPodcastCover )"
          layout-padding>
          {{ podcast['im:name']['label'] }}
        </div>
      </div>
    </div>

    <div class="grid-item" flex-xs="100" flex-sm="50" flex-md="33" flex-lg="25" flex-xl="20" ng-repeat="podcast in podcasts.slice(4)">
      <div class="podcast-frame">
        <div style="position:relative">
          <div style="position:relative;width:100%;height:0;padding-top:100%;">
            <img ng-click="showEpisodes(podcast['id']['attributes']['im:id'], podcast['im:name']['label'], podcast['im:image'][1]['label'] | itunesPodcastCover)"
              ng-src="{{ podcast['im:image'][1]['label'] | itunesPodcastCover }}" onload="this.style.opacity = 1" style="cursor:pointer;position:absolute; top:0; left:0; width:100%; opacity: 0; transition: opacity 0.5s ease-in-out;"
            />
          </div>
          <div layout="row" style="position:absolute;bottom:10px;right:10px;height:auto">
            <md-button class="md-icon-button md-warn icon-btn" ng-if="!isFavourite(podcast['id']['attributes']['im:id'])">
              <md-icon md-font-library="material-icons" ng-click="setFavourite(podcast['id']['attributes']['im:id'], podcast['im:image'][1]['label'] | itunesPodcastCover , podcast.title.label, podcast['im:name']['label'])">favorite_border</md-icon>
            </md-button>
          </div>
        </div>
        <div class="row podcast-title" ng-attr-title="{{ podcast['im:name']['label'] }}" ng-click="showEpisodes(podcast['id']['attributes']['im:id'], podcast['im:name']['label'], podcast['im:image'][1]['label'] | itunesPodcastCover )"
          layout-padding>
          {{ podcast['im:name']['label'] }}
        </div>
      </div>
    </div>
  </div>
</div>