<div id="podcastGrid" ng-controller="SearchController" layout-padding ng-cloak>
  <div class="row" layout="row">
    <form flex ng-submit="doSearch()">
      <md-input-container class="md-block" class="box1">
        <md-icon md-font-library="material-icons">search</md-icon>
        <input id="search-input" ng-model="query" type="text" placeholder="Search..." />
      </md-input-container>
    </form>
  </div>
  <md-progress-circular md-mode="indeterminate" md-diameter="40" ng-if="isLoading" style="margin-left:50%;margin-right:50%;"></md-progress-circular>
  <md-list>
    <md-list-item ng-if="isEmpty">
      <h3 style="color:white">No results</h3>
    </md-list-item>
    <md-list-item ng-repeat="podcast in results" class="noright" ng-click="showEpisodes(podcast.trackId, podcast.trackName, podcast.artworkUrl60 | itunesPodcastCover)">
      <img class="podcast-img-small" ng-src="{{ ::podcast.artworkUrl60 | itunesPodcastCover }}" onload="this.style.opacity = 1">
      <p style="color:white">{{ ::podcast.artistName }} - {{ ::podcast.trackName }}</p>
      <md-button class="md-icon-button md-warn icon-btn" ng-if="!isFavourite(podcast.trackId.toString())">
        <md-icon md-font-library="material-icons" ng-click="setFavourite(podcast.trackId.toString(), podcast.artworkUrl60 | itunesPodcastCover, podcast.trackName, podcast.artistName)">favorite</md-icon>
      </md-button>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>
</div>