<div id="podcastGrid" ng-controller="SearchController" layout-padding ng-cloak>
  <form ng-submit="doSearch()">
    <md-input-container class="md-block" class="box1">
        <md-icon md-font-library="material-icons">search</md-icon>
        <input ng-model="query" type="text" placeholder="Search..." />
    </md-input-container>
  </form>

  <md-list flex layout="column">
    <md-list-item class="md-2-line" ng-repeat="podcast in results" layout-padding>
      <img src="{{ podcast.artworkUrl60 }}" class="md-avatar" alt="album_cover"/>
      <div class="md-list-item-text" layout="column">
        <h3>{{ podcast.trackName }}</h3>
        <p>
          {{ podcast.artistName }}
        </p>
        <p>
          TrackID - {{ podcast.trackId }}
        </p>
        <episodes podcastid="podcast.trackId"/>
      </div>
    </md-list-item>
  </md-list>

</div>
