<div ng-controller="SettingsController" layout="column" layout-padding ng-cloak>
  <div class="row" layout="row">
    <div flex="50" class="row">
      <div class="row">
        <h3 style="color:white">
          Settings
        </h3>
        <md-divider></md-divider>
        <md-input-container style="width:90%">
          <label>Default region</label>
          <md-select name="type" ng-model="region" ng-change="setRegion()">
            <md-option ng-repeat="country in countries track by $index" ng-value="country.iso">{{ ::country.name }}</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div class="row">
        <md-input-container style="width:90%">
          <label>Color</label>
          <input id="color-input" ng-model="color" type="color" />
          <md-button class="md-primary" ng-click="changeColor()">Update color</md-button>
        </md-input-container>
      </div>
    </div>
    <div flex="50" class="row">
      <h3 style="color:white">
        Hotkeys
      </h3>
      <md-divider></md-divider>
      <table style="width:100%">
        <tr>
          <td style="color:white">
            <code>Space</code>
          </td>
          <td style="color:white">
            Toggle Play/Pause
          </td>
        </tr>
        <tr>
          <td style="color:white">
            <code>{{ ::modKey }}</code> +
            <code>e</code>
          </td>
          <td style="color:white">
            Toggle sidebar
          </td>
        </tr>
        <tr>
          <td style="color:white">
            <code>{{ ::modKey }}</code> +
            <code>down arrow</code>
          </td>
          <td style="color:white">
            Volume Down
          </td>
        </tr>
        <tr>
          <td style="color:white">
            <code>{{ ::modKey }}</code> +
            <code>up arrow</code>
          </td>
          <td style="color:white">
            Volume Up
          </td>
        </tr>
        <tr>
          <td style="color:white">
            <code>{{ ::modKey }}</code> +
            <code>left arrow</code>
          </td>
          <td style="color:white">
            Rewind
          </td>
        </tr>
        <tr>
          <td style="color:white">
            <code>{{ ::modKey }}</code> +
            <code>right arrow</code>
          </td>
          <td style="color:white">
            Forward
          </td>
        </tr>
        <tr>
          <td style="color:white">
            <code>{{ ::modKey }}</code> +
            <code>1</code>
          </td>
          <td style="color:white">
            Jump to Toplists
          </td>
        </tr>
        <tr>
          <td style="color:white">
            <code>{{ ::modKey }}</code> +
            <code>2/f/l</code>
          </td>
          <td style="color:white">
            Jump to Search
          </td>
        </tr>
        <tr>
          <td style="color:white">
            <code>{{ ::modKey }}</code> +
            <code>3</code>
          </td>
          <td style="color:white">
            Jump to Favourites
          </td>
        </tr>
        <tr>
          <td style="color:white">
            <code>{{ ::modKey }}</code> +
            <code>4</code>
          </td>
          <td style="color:white">
            Jump to Settings
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row" layout="row">
    <div flex="50">
      <h3 style="color:white;">
        Tech
      </h3>
      <md-divider></md-divider>
      <md-list>
        <md-list-item ng-click="openURL('https://electronjs.org/')" class="noright">
          <img src="images/electron.png" style="padding:15px;width:50px;" />
          <p style="color:white">Electron</p>
          <md-divider></md-divider>
        </md-list-item>
        <md-list-item ng-click="openURL('https://angularjs.org/')" class="noright">
          <img src="images/angular.png" style="padding:15px;width:50px;" />
          <p style="color:white">AngularJS</p>
          <md-divider></md-divider>
        </md-list-item>
        <md-list-item ng-click="openURL('https://affiliate.itunes.apple.com/resources/documentation/itunes-store-web-service-search-api/')"
          class="noright">
          <img src="images/itunes.png" style="padding:15px;width:50px;" />
          <p style="color:white">iTunes RSS feeds & Search API</p>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
      <br>
      <table style="width:100%">
        <tr>
          <td>Poddr:</td>
          <td>{{ ::appVersion }}</td>
        </tr>
        <tr>
          <td>Electron:</td>
          <td>{{ ::electronVersion }}</td>
        </tr>
        <tr>
          <td>Storage:</td>
          <td>{{ ::appStorage }}</td>
        </tr>
      </table>
      <br>
    </div>
    <div flex="50">
      <h3 style="color:white;">
        Support & Feedback
      </h3>
      <md-divider></md-divider>
      <md-list>
        <md-list-item ng-click="openURL('https://github.com/Sn8z/Poddr')">
          <span>Repository</span>
          <i class="fas fa-home md-secondary"></i>
        </md-list-item>
        <md-list-item ng-click="openURL('https://github.com/Sn8z/Poddr/issues')">
          <span>Issues & Feedback</span>
          <i class="fas fa-bug md-secondary"></i>
        </md-list-item>
        <md-list-item ng-click="openURL('https://ko-fi.com/sneitz')">
          <span>Buy me a coffee!</span>
          <i class="fas fa-coffee md-secondary"></i>
        </md-list-item>
      </md-list>
    </div>
  </div>
</div>