:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.active-btn {
	color: var(--primary-color);
}

.list {
	flex: 1;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

.list-item {
	flex: 0 0 auto;
	background: var(--secondary-bg-color);
	margin: 0.75rem 1.5rem 0.75rem 1.5rem;
	display: flex;
	flex-direction: row;
	cursor: pointer;
	transition: all 0.1s linear;
	text-decoration: none;
}

.list-item:hover {
	background: var(--primary-bg-color);
}

.list-item-image {
	flex: 0 0 150px;
}

.list-item-info {
	flex: 1;
	padding: 0.75rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.list-item-actions {
	display: flex;
	flex: 0 0 auto;
	flex-direction: row;
	align-items: center;
	padding: 2rem;
}

.list-item-actions>i {
	padding: 1rem;
}