<div class="banner">
	<div>
		<h5 class="secondary-title">Top {{ amount }}</h5>
		<h1 class="primary-title">Today</h1>
	</div>
	<div>
		<select class="shadow" [(ngModel)]="category" (change)="getPodcastsNavigation()">
			<option *ngFor="let c of categories" [value]="c.id">{{ c.genre }}</option>
		</select>
		<select class="shadow" [(ngModel)]="region" (change)="getPodcastsNavigation()">
			<option *ngFor="let r of regions" [value]="r.id">{{ r.attributes.name }}</option>
		</select>
		<button class="btn" (click)="layout = 'grid'"><i class="fas fa-th"
				[ngClass]="{'active-btn': layout == 'grid'}"></i></button>
		<button class="btn" (click)="layout = 'list'"><i class="fas fa-list"
				[ngClass]="{'active-btn': layout == 'list'}"></i></button>
	</div>
</div>
<div class="grid" *ngIf="layout == 'grid'">
	<div class="grid-item" *ngFor="let p of podcasts">
		<div class="podcast-frame shadow">
			<a class="image-container" [routerLink]="['/podcast', p['id']['attributes']['im:id']]">
				<img class="image-cover" [src]="(p['im:image'][1]['label'] | itunesImage) || 'assets/images/album_cover.png'"
					onload="this.style.opacity = 1">
			</a>
			<div class="podcast-frame-info">
				<div class="podcast-frame-title truncate" [routerLink]="['/podcast', p['id']['attributes']['im:id']]"
					tabindex="-1">
					{{ p['im:name']['label'] }}</div>
				<div class="podcast-frame-btns">
					<i *ngIf="favs.indexOf(p['im:name']['label']) == -1" class="far fa-heart podcast-frame-btn"
						(click)="addPodcast(p['id']['attributes']['im:id'])" data-tooltip="Add to favourites"
						tooltip-position="left"></i>
					<i class="fas fa-info-circle podcast-frame-btn"
						(click)="showDescription(p['im:name']['label'], p['summary']['label'])" data-tooltip="Show description"
						tooltip-position="left"></i>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="list" *ngIf="layout == 'list'">
	<div class="list-item shadow" *ngFor="let p of podcasts">
		<a class="list-item-image" [routerLink]="['/podcast', p['id']['attributes']['im:id']]">
			<div class="image-container">
				<img class="image-cover" [src]="(p['im:image'][1]['label'] | itunesImage) || 'assets/images/album_cover.png'"
					onload="this.style.opacity = 1">
			</div>
		</a>
		<div class="list-item-info" [routerLink]="['/podcast', p['id']['attributes']['im:id']]" tabindex="-1">
			<h5 class="secondary-title truncate">{{ p['im:artist']['label'] }}</h5>
			<h1 class="primary-title truncate">{{ p['im:name']['label'] }}</h1>
		</div>
		<div class="list-item-actions">
			<i *ngIf="favs.indexOf(p['im:name']['label']) == -1" class="far fa-heart  podcast-frame-btn"
				(click)="addPodcast(p['id']['attributes']['im:id'])" data-tooltip="Add to favourites"
				tooltip-position="top"></i>
			<i class="fas fa-info-circle podcast-frame-btn" (click)="showDescription(p['summary']['label'])"
				data-tooltip="Show description" tooltip-position="top"></i>
		</div>
	</div>
</div>