<div class="banner">
	<div class="banner-info">
		<h5 class="secondary-title truncate">Poddr</h5>
		<h1 class="primary-title truncate">Settings</h1>
	</div>
</div>
<div id="settings-content">
	<div id="settings-left">
		<p class="primary-text">Default region</p>
		<ng-select class="custom" [clearable]="false" [items]="regions" bindLabel="attributes.name" bindValue="id"
			[(ngModel)]="region" (change)="setRegion()"></ng-select>
		<p class="primary-text">Default layout</p>
		<ng-select class="custom" [clearable]="false" [items]="layouts" bindLabel="label" bindValue="value"
			[(ngModel)]="layout" (change)="setLayout()">
		</ng-select>
		<p class="primary-text">Theme</p>
		<ng-select class="custom" [clearable]="false" [items]="themes" [(ngModel)]="theme" (change)="setTheme()">
		</ng-select>
		<div id="theme-section">
			<p class="primary-text">Color</p>
			<div class="clr-pickr"></div>
		</div>
	</div>
	<div id="settings-right">
		<details open>
			<summary>Hotkeys</summary>
			<div class="settings-section">
				<div class="hotkeys-item">
					<div class="hotkey-combination"><kbd>Space</kbd></div>
					<div class="hotkey-action primary-text">Toggle Play/Pause</div>
				</div>
				<div class="hotkeys-item">
					<div class="hotkey-combination"><kbd>{{ modKey }}</kbd> <span class="primary-text"> + </span> <kbd>e</kbd>
					</div>
					<div class="hotkey-action primary-text">Toggle sidebar</div>
				</div>
				<div class="hotkeys-item">
					<div class="hotkey-combination"><kbd>{{ modKey }}</kbd> <span class="primary-text"> + </span> <kbd>down
							arrow</kbd></div>
					<div class="hotkey-action primary-text">Volume Down</div>
				</div>
				<div class="hotkeys-item">
					<div class="hotkey-combination"><kbd>{{ modKey }}</kbd> <span class="primary-text"> + </span> <kbd>up
							arrow</kbd></div>
					<div class="hotkey-action primary-text">Volume Up</div>
				</div>
				<div class="hotkeys-item">
					<div class="hotkey-combination"><kbd>{{ modKey }}</kbd> <span class="primary-text"> + </span> <kbd>left
							arrow</kbd></div>
					<div class="hotkey-action primary-text">Rewind</div>
				</div>
				<div class="hotkeys-item">
					<div class="hotkey-combination"><kbd>{{ modKey }}</kbd> <span class="primary-text"> + </span> <kbd>right
							arrow</kbd></div>
					<div class="hotkey-action primary-text">Forward</div>
				</div>
				<div class="hotkeys-item">
					<div class="hotkey-combination"><kbd>{{ modKey }}</kbd> <span class="primary-text"> + </span> <kbd>1</kbd>
					</div>
					<div class="hotkey-action primary-text">Jump to Toplists</div>
				</div>
				<div class="hotkeys-item">
					<div class="hotkey-combination"><kbd>{{ modKey }}</kbd> <span class="primary-text"> + </span> <kbd>2/f/l</kbd>
					</div>
					<div class="hotkey-action primary-text">Jump to Search</div>
				</div>
				<div class="hotkeys-item">
					<div class="hotkey-combination"><kbd>{{ modKey }}</kbd> <span class="primary-text"> + </span> <kbd>3</kbd>
					</div>
					<div class="hotkey-action primary-text">Jump to Favourites</div>
				</div>
				<div class="hotkeys-item">
					<div class="hotkey-combination"><kbd>{{ modKey }}</kbd> <span class="primary-text"> + </span> <kbd>4</kbd>
					</div>
					<div class="hotkey-action primary-text">Jump to Settings</div>
				</div>
			</div>
		</details>
		<details>
			<summary>Support</summary>
			<div class="settings-section">
				<p class="primary-text">If you're having any issue or want to give some feedback then open an issue in the
					repository.</p>
				<button class="btn-border" (click)="openURL('https://github.com/Sn8z/Poddr/issues')">
					<fa-icon [icon]="faGithub"></fa-icon> GitHub
				</button>
			</div>
		</details>
		<details>
			<summary>Donate</summary>
			<div id="donate-section">
				<button class="btn-border" (click)="openURL('https://paypal.me/pools/c/8hmwPy1X5c')">
					<fa-icon [icon]="faPaypal"></fa-icon> PayPal
				</button>
				<button class="btn-border" (click)="openURL('https://www.patreon.com/join/poddr')">
					<fa-icon [icon]="faPatreon"></fa-icon> Patreon
				</button>
				<button class="btn-border" (click)="openURL('https://ko-fi.com/sneitz')">
					<fa-icon [icon]="faCoffee"></fa-icon> Ko-Fi
				</button>
				<button class="btn-border" (click)="openURL('https://github.com/sponsors/Sn8z')">
					<fa-icon [icon]="faGithub"></fa-icon> GitHub Sponsor
				</button>
			</div>
		</details>
		<details>
			<summary>Debug</summary>
			<div class="settings-section">
				<span class="primary-text">Poddr version: <span class="secondary-text">{{ appVersion }}</span></span>
				<span class="primary-text">Config path: <span class="secondary-text">{{ appStorage }}</span></span>
				<span class="primary-text">Log path: <span class="secondary-text">{{ logStorage }}</span></span>
				<span class="primary-text">Download folder: <span class="secondary-text">{{ downloadFolder }}</span></span>
				<div id="debug-section">
					<button class="btn-border" (click)="restart()">Restart</button>
					<button class="btn-border" (click)="openDevTools()">Show developer tools</button>
				</div>
			</div>
		</details>
	</div>
</div>