<div class="banner">
	<div>
		<h5 class="secondary-title">Poddr</h5>
		<h1 class="primary-title">Settings</h1>
	</div>
</div>
<div id="settings-content">
	<div id="settings-left">
		<select class="shadow" [(ngModel)]="region" (change)="setRegion()">
			<option *ngFor="let r of regions" [value]="r.id">{{ r.attributes.name }}</option>
		</select>
		<select class="shadow" [(ngModel)]="layout" (change)="setLayout()">
			<option value="grid">Grid</option>
			<option value="list">List</option>
		</select>
		<div class="clr-pickr"></div>
	</div>
	<div id="settings-right">
		<details>
			<summary>Hotkeys</summary>
			<p>Content</p>
		</details>
		<details>
			<summary>Support</summary>
			<p>Content</p>
		</details>
		<details>
			<summary>Donate</summary>
			<p>Content</p>
		</details>
		<details>
			<summary>Debug info</summary>
			<p>Content</p>
		</details>
	</div>
</div>