:host {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#settings-content {
	flex: 1 1 auto;
	overflow: hidden;
	display: flex;
	flex-direction: row;
}

#settings-left {
	flex: 1 1 50%;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	padding: 0.75rem;
}

#opml-section {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	padding: 10px 10px;
	margin: 20px 0px;
	background-color: var(--secondary-bg-color);
	border-radius: 5px;
}

#theme-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#settings-right {
	flex: 1 1 50%;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	padding: 0.75rem;
}

.settings-section {
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
}

#donate-section {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0.5rem;
}

#debug-section {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0.75rem;
}

.hotkeys-item {
	display: flex;
	flex-direction: row;
	padding: 0.25rem;
}

.hotkey-combination {
	flex: 0 1 50%;
}

.hotkey-action {
	flex: 0 1 50%;
}