<div class="banner">
	<div>
		<h5 class="secondary-title">Poddr</h5>
		<h1 class="primary-title">Settings</h1>
	</div>
</div>
<div id="settings-content">
	<div id="settings-left">
		Default region
		<br>
		Default layout
		<br>
		Default color
		<br>
	</div>
	<div id="settings-right">
		<details>
			<summary>Hotkeys</summary>
			<p>Content</p>
		</details>
		<details>
			<summary>Support</summary>
			<p>Content</p>
		</details>
		<details>
			<summary>Donate</summary>
			<p>Content</p>
		</details>
		<details>
			<summary>Debug info</summary>
			<p>Content</p>
		</details>
	</div>
</div>